/**
* Tüm boyutlarda yüklenir (_global tanımlı)
*  bu yüzden tüm boyutlarda genelinde kullanılan fontları buradan ekleyin
*
* Aşağıda sistemde hazır bazı fontlar örnek olarak bulunmaktadır.
* Yenilerini benzer şekilde dahil edebilirsiniz.
*
* DİKKAT: Buradan sadece font face tanımlaması yapın.
* Fontları 3.parti kaynaklardan geliyorsa (Google Font gibi)
* html üzerinden çağırın, burada ise gerekirse
* font-face tanımlamalarını yapabilirsiniz
* "Hiçbir fontu hiçbir scss içerisinde import etmeyin!"
*/

@font-face {
font-family: 'Poppins';
src: url('../fonts/poppins/poppins-regular.eot');
src: url('../fonts/poppins/poppins-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/poppins-regular.woff2') format('woff2'),
        url('../fonts/poppins/poppins-regular.woff') format('woff'),
        url('../fonts/poppins/poppins-regular.ttf') format('truetype'),
        url('../fonts/poppins/poppins-regular.svg#poppinsregular') format('svg');
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Poppins';
src: url('../fonts/poppins/poppins-medium.eot');
src: url('../fonts/poppins/poppins-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/poppins-medium.woff2') format('woff2'),
        url('../fonts/poppins/poppins-medium.woff') format('woff'),
        url('../fonts/poppins/poppins-medium.ttf') format('truetype'),
        url('../fonts/poppins/poppins-medium.svg#poppinsmedium') format('svg');
font-weight: 500;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Poppins';
src: url('../fonts/poppins/poppins-light.eot');
src: url('../fonts/poppins/poppins-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/poppins-light.woff2') format('woff2'),
        url('../fonts/poppins/poppins-light.woff') format('woff'),
        url('../fonts/poppins/poppins-light.ttf') format('truetype'),
        url('../fonts/poppins/poppins-light.svg#poppinslight') format('svg');
font-weight: 300;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Poppins';
src: url('../fonts/poppins/poppins-semibold.eot');
src: url('../fonts/poppins/poppins-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/poppins-semibold.woff2') format('woff2'),
        url('../fonts/poppins/poppins-semibold.woff') format('woff'),
        url('../fonts/poppins/poppins-semibold.ttf') format('truetype'),
        url('../fonts/poppins/poppins-semibold.svg#poppinssemibold') format('svg');
font-weight: 600;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Poppins';
src: url('../fonts/poppins/poppins-extrabold.eot');
src: url('../fonts/poppins/poppins-extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/poppins-extrabold.woff2') format('woff2'),
        url('../fonts/poppins/poppins-extrabold.woff') format('woff'),
        url('../fonts/poppins/poppins-extrabold.ttf') format('truetype'),
        url('../fonts/poppins/poppins-extrabold.svg#poppinsextrabold') format('svg');
font-weight: 700;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Poppins';
src: url('../fonts/poppins/poppins-black.eot');
src: url('../fonts/poppins/poppins-black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/poppins-black.woff2') format('woff2'),
        url('../fonts/poppins/poppins-black.woff') format('woff'),
        url('../fonts/poppins/poppins-black.ttf') format('truetype'),
        url('../fonts/poppins/poppins-black.svg#poppinsblack') format('svg');
font-weight: 900;
font-style: normal;
font-display: swap;
}
