// twitter @datasins

.flipper {
    overflow: hidden;
    height: 56px;
    padding: 0; /* padding: 0 40px; */
    position: relative;
    margin:15px 0 20px;

    @media screen and (max-width: 1400px) {
        margin:15px 0 29px;
        height:45px;
    }

    @media screen and (max-width: 992px),
           screen and (max-height: 880px) {
        margin:22px 0 29px;
        height:32px;
    }

    /*
    &:before {
        content: '[';
        left: 0;
    }

    &:after {
        content: ']';
        position: absolute;
        right: 0;
    }

    &:after,
    &:before {
        position: absolute;
        top: 0;

        color: $dark;
        font-size: 42px;
        font-weight: 600;

        animation-name: flipper-opacity;
        animation-duration: 1.85s;
        animation-iteration-count: infinite;
    }
    */

    .flipper-list {
        margin-top: 0;
        text-align: left;
        list-style: none;

        animation-name: flipper-change;
        animation-duration: 55s;
        animation-iteration-count: infinite;

        span {
            display: block;
            line-height: 60px;
            margin: 0;
            font-weight: 600;
            font-size: 55px;
            white-space: nowrap; 
        }

        @media screen and (max-width: 1400px){
            span {
                line-height: 53px;
                margin: 0;
                font-weight: 600;
                font-size: 45px;
            }
        }

        @media screen and (max-width: 992px),
               screen and (max-height: 880px) {
            text-align:center;

            span {
                line-height: 38px;
                margin: 0;
                font-weight: 600;
                font-size: 35px;
            }
        }

        @media screen and (min-width: 992px) and (max-height: 880px) {
            text-align:left;
        }
    }
}

@keyframes flipper-opacity {
    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes flipper-change {
    0%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    @for $i from 1 through 30 {
        #{$i*3.23}% {transform:translate3d(0,-$i*3.23%,0);}
    }
}