
@mixin getMobile(){

    .cookie-stage{
        width: 80vw;
        left: 10vw
    }
    .page-title{
        margin:15px 0px 25px 0px;
        h1{
            margin-bottom:15px;
        }
    }
    .quest-comment-content .quest-comment-box .quest-desc{
        min-height: auto !important;
    }
    .slider-section{
        padding-top:$headerHeightScroll;
    }
    .slider-booknow{
        display: none;
    }
    #mainslider .owl-item{
        video{
            height: 30vh !important;
        }
        img{
            height: 30vh !important;
        }
    }
    .reservation-mobile-btn{
        display: flex;
        position: fixed;
        bottom:0px;
        background-color: $lightBrownColor;
        height:50px;
        width:100%;
        text-align: center;
        z-index: 98;
        a{
            display: block;
            width:50%;
            height:100%;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 50px;
            color:$whiteColor;
            text-decoration: none;
            &:nth-child(2){
                background-color: $blackColor;
            }
        }
    }
    header{
        height: $headerHeightScroll;
        .logo-section{
            height: $headerHeightScroll;
            a img{
                height: 50px;
                width: auto !important;
            }
        } 
        &.header-fixed{
            .logo-section a img{
                height: 50px;
                width: auto !important;
            }
        }
        .col-md-10{
            padding:0px !important;
        }
        .mobile-menu-btn{
            display: block;
            position: absolute;
            top: 17px;
            left: 15px;
            color: #fff;
            font-size: 35px;
            line-height: 35px;
            height: 40px;
            width: 40px;
            text-align: center;
        }
        .menu{
            flex-wrap:wrap;
            background-color: $whiteColor;
            padding: 15px 0px;
            display: none;
            //margin-top: 20px !important;
            //height: 0px;
            //overflow: hidden;
            &.open{
                display: flex;
                padding: 15px 0px;
                height: auto;
            }
            ul{
                flex-wrap:wrap;
                height: auto;
           
                li{
                    width:100%;
                    height: auto;
                    margin: 0px 0px 15px 15px;
                    a{
                        color:$greyColor;
                        height: auto;
                        font-size: 22px;
                    }
                }
            }
        }
        .language{
            width:100%;
            margin:0px 15px 40px 15px;
            height: auto;
            .lang-btn{
                color:$greyColor;
                font-size: 22px;
            }
        }
        .to-campaign-section{
            width:100%;
            height: auto;
        }
    }

    .slider-section .callcenter{
        display:none;
    }
    .home-accomodation-section{
        flex-wrap: wrap;
        .first-half{
            width:100%;
            padding: 15px 0px;
        }
        .second-half{
            width:100%;
            padding: 15px 0px;
        }
    } 
    #homeaccomodationtwo .owl-item.active img
    #homeaccomodationtwo{
        .owl-item{
            &.active{
                img{
                    @include borderRadius(0px);
                }
            }

        }
    }
.mobil-col-reverse{
    flex-direction: column-reverse;
}
    .date-input {
        .date-input-one{
            font-size: 48px;
            line-height: 80px;
        }
        .date-input-two{
            font-size: 20px;
            line-height: 20px;
        }
        .date-input-three{
            font-size: 20px;
            line-height: 20px;
        }
    }
    .booknow-section .booknow{
        border:0px;
        padding-bottom: 15px;
        .out{
            border:0px;
        }
        .adult{
            border:0px;
        }
        .child{
            border:0px;
        }
        form{
            select{
                font-size: 48px;
                line-height: 80px;
            }
        } 
    } 
    footer{
        .footer-social{
            margin-bottom: 25px;
        }
        .footer-section{
            flex-wrap: wrap;
            .footer-one{
                max-width:100%;
            }
            .footer-two{
                max-width:100%;
            }
        } 
    } 
    footer .footer-logo-section img{
        width:80%;
        height: auto;
    }

     header.header-fixed .menu ul, header.header-fixed .language, header.header-fixed .to-campaign-section{
        height: auto !important;
    }
     .bottom-footer {
         margin-bottom:50px;
         &.home{
            margin-bottom:50px;  
         }
        .bottom-footer-inside .footer-dex-logo img{
            height: 30px;
        }
    }

    .pageheader{
        padding-top: $headerHeightScroll;
        img{
            height: 120px;
            //height: 240px;
        }
    } 
    .standard-thumbnail-slidertwo .item, #abouttwo .item, #ourstorytwo .item, #restauranttwo .item{
        margin:3px;
    }
    .accomodation-section .accomodation-detail .room-features .rooms-features-icons{
        flex-wrap:wrap;
        .features-icon-box{
            margin-bottom:20px;
        }
    }
    .accomodation-section .accomodation-detail .room-features .features-content .features-box .features-desc{
        flex:1;
        p{
            font-size:14px;
            line-height: normal;
        }
    }
    .gallery-section .gallery .gallery-header .gallery-title .gallery-line{
        width:100%;
        max-width:100%;
    }
    .gallery-section .gallery .gallery-header .gallery-select-section{
        display: flex;
        align-items: center;
        margin: 15px 0px 40px 0px;
        .galleryselect{
            display: flex;
            margin: auto;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
         
            button{
                margin:5px auto;
                width:100%;
                height:50px;
                padding:0px 1rem;
                a{
                    display: flex;
                    margin:auto;
                }
            }
        }
    }
    .contact-page .contact-form-section .border-section{
        border: 0px;
    }
    .contact-map-section{
        margin-top:40px;
        .contact-title{
            margin:15px;
        }
    }
    .ourstory-section .ourstory .ourstory-title h1{
        font-size:40px;
    }
    .ourstory-section .ourstory .ourstory-desc h3{
        margin:15px 0px;
    }

}

@media screen and (max-width: 1440px){
    header{
        .menu{
            ul{
                li{
                    margin: auto 6px;
                    &:lang(en){
                        margin: auto 6px;
                    }
                    a{
                        font-size: 13px;
                        &:lang(en){
                            font-size: 13px; 
                        }
                    }
                }
            }
        }
    }
    .to-campaign-section .to-campaign-btn a{
        font-size: 13px;
    }
}
@media screen and (max-width: 1366px){
    header{
        .menu{
            ul{
                li{
                    margin: auto 6px;
                    &:lang(en){
                        margin: auto 4px;
                    }
                    a{
                        font-size: 13px;
                        &:lang(en){
                            font-size: 13px; 
                        }
                    }
                }
            }
        }
    }
    .to-campaign-section .to-campaign-btn a{
        font-size: 13px;
    }
}




/* Portrait */
@media only screen 
  and (min-device-width: 1000px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    @include getMobile();
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.container{
        width:100%;
    }
    .ourhotel-box{
        height: auto;
        .btn-section{
            position: relative;
        }
    } 
    .container-half{
        width:100% !important;
    }
    .opportunity-section .opportunitybox .opportunity-content{
        text-align: center;
        .detail-btn{
            margin: auto;
        }
    }
}



@media screen and (max-width: 1000px) {
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.container{
        width:100%;
        max-width: 100%;
    }
    @include getMobile();

    header .menu ul li{
        margin: 0px 0px 15px 15px !important;
        a{
            font-size:22px !important;
        }
    }
    .mobile-column{
        display: flex;
    }
    .offset-md-1, .offset-md-2{
        margin-left:0px;
    }
    .desktop-column{
        display: none;
    }
    footer .footer-logo-section img{
        width:250px;
    }
    .city-section .city-description .city-box.withimg{
        margin:auto;
        max-width: 100%;
    }
    .ourhotel-box{
        height: auto;
        .btn-section{
            position: relative;
        }
    } 
    .container-half{
        width:100% !important;
    }
    .opportunity-section .opportunitybox .opportunity-content{
        text-align: center;
        .detail-btn{
            margin: auto;
        }
    }
}


@media screen and (max-width: 320px) {
    header .logo-section a img{
        width:150px;
    }
    header .menu ul li a{
        font-size: 18px;
    }
}