.grecaptcha-badge{transform:scale(0.5);transform-origin:0px 0px;right:-222px !important;bottom:-15px !important}.btn-pending-approval-wrapper{position:relative;position:relative;display:flex;width:24%;justify-content:center;margin:auto}.btn-pending-approval-wrapper .btn-pending-approval-curtain{position:absolute;width:100%;min-height:40px;height:100%;opacity:.6;background-color:#306666}.loader{color:#fec526;font-size:90px;text-indent:-9999em;overflow:hidden;width:1em;height:1em;border-radius:50%;margin:220px auto;position:relative;transform:translateZ(0);-webkit-animation:load6 1.7s infinite ease,round 1.7s infinite ease;animation:load6 1.7s infinite ease,round 1.7s infinite ease}@-webkit-keyframes load6{0%{box-shadow:0 -0.83em 0 -0.4em,0 -0.83em 0 -0.42em,0 -0.83em 0 -0.44em,0 -0.83em 0 -0.46em,0 -0.83em 0 -0.477em}5%,95%{box-shadow:0 -0.83em 0 -0.4em,0 -0.83em 0 -0.42em,0 -0.83em 0 -0.44em,0 -0.83em 0 -0.46em,0 -0.83em 0 -0.477em}10%,59%{box-shadow:0 -0.83em 0 -0.4em,-0.087em -0.825em 0 -0.42em,-0.173em -0.812em 0 -0.44em,-0.256em -0.789em 0 -0.46em,-0.297em -0.775em 0 -0.477em}20%{box-shadow:0 -0.83em 0 -0.4em,-0.338em -0.758em 0 -0.42em,-0.555em -0.617em 0 -0.44em,-0.671em -0.488em 0 -0.46em,-0.749em -0.34em 0 -0.477em}38%{box-shadow:0 -0.83em 0 -0.4em,-0.377em -0.74em 0 -0.42em,-0.645em -0.522em 0 -0.44em,-0.775em -0.297em 0 -0.46em,-0.82em -0.09em 0 -0.477em}100%{box-shadow:0 -0.83em 0 -0.4em,0 -0.83em 0 -0.42em,0 -0.83em 0 -0.44em,0 -0.83em 0 -0.46em,0 -0.83em 0 -0.477em}}@keyframes load6{0%{box-shadow:0 -0.83em 0 -0.4em,0 -0.83em 0 -0.42em,0 -0.83em 0 -0.44em,0 -0.83em 0 -0.46em,0 -0.83em 0 -0.477em}5%,95%{box-shadow:0 -0.83em 0 -0.4em,0 -0.83em 0 -0.42em,0 -0.83em 0 -0.44em,0 -0.83em 0 -0.46em,0 -0.83em 0 -0.477em}10%,59%{box-shadow:0 -0.83em 0 -0.4em,-0.087em -0.825em 0 -0.42em,-0.173em -0.812em 0 -0.44em,-0.256em -0.789em 0 -0.46em,-0.297em -0.775em 0 -0.477em}20%{box-shadow:0 -0.83em 0 -0.4em,-0.338em -0.758em 0 -0.42em,-0.555em -0.617em 0 -0.44em,-0.671em -0.488em 0 -0.46em,-0.749em -0.34em 0 -0.477em}38%{box-shadow:0 -0.83em 0 -0.4em,-0.377em -0.74em 0 -0.42em,-0.645em -0.522em 0 -0.44em,-0.775em -0.297em 0 -0.46em,-0.82em -0.09em 0 -0.477em}100%{box-shadow:0 -0.83em 0 -0.4em,0 -0.83em 0 -0.42em,0 -0.83em 0 -0.44em,0 -0.83em 0 -0.46em,0 -0.83em 0 -0.477em}}@-webkit-keyframes round{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}@keyframes round{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}.completed{color:#1ed2bd;font-size:200px;width:200px;margin:auto}.completed:before{font-family:"Font Awesome 5 Free";font-weight:900;content:"";display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;-webkit-font-smoothing:antialiased}body{background-color:#306666;color:#f3f9f9}a{color:#75d1d1;transition:color .2s ease-in;-moz-transition:color .2s ease-in;-webkit-transition:color .2s ease-in;-ms-transition:color .2s ease-in}a:hover{color:#a4f6f6}header nav{background-color:#315353}header nav .nav-link{color:#63b0b0}header nav .nav-link:hover{color:#a4f6f6}header div.top-navigation div.choose-language{z-index:1050}header div.top-navigation .top-corporate-links{color:#549494}header div.top-navigation .top-corporate-links a{color:#549494;text-decoration:none}header div.top-navigation .top-corporate-links a:hover{color:#a4f6f6}section.slide,section.contact,section.about-us{margin-bottom:50px}section.articles{padding:50px 0}section.articles .article-card{cursor:pointer}section.articles .article-card>div:hover{background-color:#ffdb6d;transition:background-color .2s ease-in,color .2s ease-in;-moz-transition:background-color .2s ease-in,color .2s ease-in;-webkit-transition:background-color .2s ease-in,color .2s ease-in;-ms-transition:background-color .2s ease-in,color .2s ease-in}section.articles .article-card .article-card-img{height:200px;border-radius:5px;margin-bottom:15px;background-size:cover;background-position-y:center}section.articles .article-card a.article-card-title{color:#111c1c;text-decoration:none}section.contact textarea{height:210px}section.testimonials{background-size:cover}section.testimonials h3{display:inline-block;background-color:#ffc107;padding:15px 20px;border-radius:5px 5px 0 0;margin-bottom:0}section.page-header{margin-bottom:50px;background-color:#284444;padding:40px 0;position:relative;transition:all 1s;background-size:cover}section.page-header:after{content:"\a";position:absolute;width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,.5);opacity:1;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;z-index:1}section.page-header a.page-title{color:#f3f9f9;position:relative;z-index:2}section.slide .carousel .carousel-caption{background-color:rgba(29,49,49,.5);left:0;right:0;bottom:0}section.slide .carousel .carousel-caption h5{font-size:2.22rem;color:#ffc107}section.slide .carousel .carousel-caption p{font-size:1.33rem}footer{padding-top:30px}ul.social-media,ol.social-media{list-style:none;padding:0;margin:0}ul.social-media li,ol.social-media li{display:inline-block;margin-right:1px}ul.social-media li:last-child,ol.social-media li:last-child{margin-right:0}ul.social-media li.emphasis a,ol.social-media li.emphasis a{color:#f3f9f9;background-color:#2b8282}ul.social-media li a,ol.social-media li a{display:inline-block;font-size:19px;color:#75d1d1;background-color:#090f0f;padding:4px;text-align:center;width:34px;height:34px;border-radius:50%;margin-bottom:5px;transition:background-color .2s ease-in,color .2s ease-in;-moz-transition:background-color .2s ease-in,color .2s ease-in;-webkit-transition:background-color .2s ease-in,color .2s ease-in;-ms-transition:background-color .2s ease-in,color .2s ease-in}ul.social-media li a:hover,ul.social-media li a.active,ol.social-media li a:hover,ol.social-media li a.active{color:#090f0f;background-color:#75d1d1}aside.page .excerpt-box{background-color:#172727;border-radius:5px;padding:30px;margin-bottom:20px}aside.page .main-image img{width:100%;margin-bottom:20px;border-radius:5px}h2.page-inside-title,h3.page-inside-title{padding-bottom:30px;margin-bottom:30px;border-bottom:3px solid #ffc107}.iti{width:100%}.iti .iti__country-name{color:#1d3131}/*# sourceMappingURL=global-ltr.css.map */
 * Sık sık kullanılan mixin'leri burada tanımlayın
 * Bu sayede örneğin bir box shadow'u tekrar tekrar yazmak zorunda kalmazsınız
 *
 * */
.grecaptcha-badge {
  transform: scale(0.5);
  transform-origin: 0px 0px;
  right: -222px !important;
  bottom: -15px !important;
}

.btn-pending-approval-wrapper {
  position: relative;
  position: relative;
  display: flex;
  width: 24%;
  justify-content: center;
  margin: auto;
}
.btn-pending-approval-wrapper .btn-pending-approval-curtain {
  position: absolute;
  width: 100%;
  min-height: 40px;
  height: 100%;
  opacity: 0.6;
  background-color: #306666;
}

/**
 * Sadece belli sayfalarda yüklenecek loader gibi özel parçaları
 * `components` dizinine ayrı ayrı tanımlayıp stilinize import edebilirsiniz
**/
.loader {
  color: #fec526;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 220px auto;
  position: relative;
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.completed {
  color: #1ed2bd;
  font-size: 200px;
  width: 200px;
  margin: auto;
}

.completed:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/**
 * Bu yazıyı ve aşağısını silin
*/
body {
  background-color: #306666;
  color: #f3f9f9;
}

a {
  color: #75d1d1;
  transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
}
a:hover {
  color: #a4f6f6;
}

header nav {
  background-color: #315353;
}
header nav .nav-link {
  color: #63b0b0;
}
header nav .nav-link:hover {
  color: #a4f6f6;
}
header div.top-navigation div.choose-language {
  z-index: 1050;
}
header div.top-navigation .top-corporate-links {
  color: #549494;
}
header div.top-navigation .top-corporate-links a {
  color: #549494;
  text-decoration: none;
}
header div.top-navigation .top-corporate-links a:hover {
  color: #a4f6f6;
}

section.slide,
section.contact,
section.about-us {
  margin-bottom: 50px;
}

section.articles {
  padding: 50px 0;
}
section.articles .article-card {
  cursor: pointer;
}
section.articles .article-card > div:hover {
  background-color: #ffdb6d;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  -ms-transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
section.articles .article-card .article-card-img {
  height: 200px;
  border-radius: 5px;
  margin-bottom: 15px;
  background-size: cover;
  background-position-y: center;
}
section.articles .article-card a.article-card-title {
  color: #111c1c;
  text-decoration: none;
}

section.contact textarea {
  height: 210px;
}

section.testimonials {
  background-size: cover;
}
section.testimonials h3 {
  display: inline-block;
  background-color: #ffc107;
  padding: 15px 20px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
}

section.page-header {
  margin-bottom: 50px;
  background-color: #284444;
  padding: 40px 0;
  position: relative;
  transition: all 1s;
  background-size: cover;
}
section.page-header:after {
  content: "\a";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  z-index: 1;
}
section.page-header a.page-title {
  color: #f3f9f9;
  position: relative;
  z-index: 2;
}

section.slide .carousel .carousel-caption {
  background-color: rgba(29, 49, 49, 0.5);
  left: 0;
  right: 0;
  bottom: 0;
}
section.slide .carousel .carousel-caption h5 {
  font-size: 2.22rem;
  color: #ffc107;
}
section.slide .carousel .carousel-caption p {
  font-size: 1.33rem;
}

footer {
  padding-top: 30px;
}

ul.social-media,
ol.social-media {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.social-media li,
ol.social-media li {
  display: inline-block;
  margin-right: 1px;
}
ul.social-media li:last-child,
ol.social-media li:last-child {
  margin-right: 0;
}
ul.social-media li.emphasis a,
ol.social-media li.emphasis a {
  color: #f3f9f9;
  background-color: #2b8282;
}
ul.social-media li a,
ol.social-media li a {
  display: inline-block;
  font-size: 19px;
  color: #75d1d1;
  background-color: #090f0f;
  padding: 4px;
  text-align: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-bottom: 5px;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  -ms-transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
ul.social-media li a:hover, ul.social-media li a.active,
ol.social-media li a:hover,
ol.social-media li a.active {
  color: #090f0f;
  background-color: #75d1d1;
}

aside.page .excerpt-box {
  background-color: #172727;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 20px;
}
aside.page .main-image img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
}

h2.page-inside-title,
h3.page-inside-title {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #ffc107;
}

.iti {
  width: 100%;
}
.iti .iti__country-name {
  color: #1d3131;
}/*# sourceMappingURL=global-ltr.css.map */